/* flexbox columns */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* header styles */

.header {
  font-family: "IBM Plex Mono", serif;
  font-size: 1rem;
  font-style: italic;

  color: white;
  background-color: crimson;

  padding-top: 20px;
  padding-bottom: 40px;

  text-align: center;
}

.input {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;

  padding: 0.8rem;
  margin-bottom: 15px;

  border: none;
  border-radius: 10px;

  width: 250px;

  text-indent: 3px;
}

.input:focus {
  outline: none;
}

.submit {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;

  color: white;
  background-color: rgb(100, 8, 8);

  padding: 0.8rem;

  border: none;
  border-radius: 10px;

  width: 100px;

  margin: 10px;

  cursor: pointer;
}

.submit:hover {
  background-color: rgb(63, 0, 0);
}

.navigation {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1rem;

  color: white;
  background-color: crimson;

  padding: 0.7rem;

  border: none;

  cursor: pointer;
}

.right {
  border-radius: 0 0 0 20px;
}

.left {
  border-radius: 0 0 20px 0;
}

.navigation:hover {
  background-color: rgb(153, 14, 42);
}

/* pokeView */

.pokeview {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
}

.nametype-column {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.monImg {
  width: 300px;
  margin-bottom: 40px;
}

.types {
  font-family: "IBM Plex Sans", sans-serif;

  margin-left: 10px;
  margin-right: 10px;

  padding-block: 10px;
  padding-inline: 15px;

  border-radius: 10px;
}

.stats-column {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.stats {
  font-family: "IBM Plex Mono", serif;
  font-size: 0.7rem;
  text-align: left;
}

.stats > h1 {
  display: flex;
}

.abilities {
  margin-inline: 80px;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.abilities > h2 {
  font-family: "IBM Plex Mono", sans-serif;
}

.abilityDesc {
  font-family: "IBM Plex Mono";
}

.evolutions {
  font-family: "IBM Plex Mono";
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
}

.evolutions > img {
  width: 150px;
}

/* footer */

.footer {
  font-family: "IBM Plex Mono", serif;
  font-style: italic;
  font-size: 0.9rem;
  color: lightslategray;
  text-align: center;
}