* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.header {
  font-family: "IBM Plex Mono", serif;
  font-style: italic;
  font-size: 1rem;
  color: white;
  padding: 20px;
  background-color: crimson;
}

.pokeview {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 30px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.stats {
  font-family: "IBM Plex Mono", serif;
  font-size: 0.7rem;
  text-align: left;
}

.type {
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}

h2 {
  font-family: "IBM Plex Mono", serif;
  font-style: italic;
  font-size: 0.8rem;
  color: lightslategray;
}

img {
  width: 300px;
  margin-bottom: 20px;
}

.pokemonName {
  letter-spacing: 0.3rem;
}

.input {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  width: 250px;
  margin-bottom: 10px;
}

.submit-button {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  background-color: rgb(100, 8, 8);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  width: 100px;
  margin-left: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(63, 0, 0);
}

.statsview > h1 {
  display: flex;
}