* {
  font-feature-settings: "kern";
}

/* flexbox columns */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

.customRow {
  margin-left: 20vw;
  width: 60vw;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* fonts */

@font-face {
  font-family: 'PP NeueBit';
  src: url('../src/fonts/PPNeueBit-Bold.woff2') format('woff2'),
    url('../src/fonts/PPNeueBit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori Regular';
  src: url('../src/fonts/PPMori-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori SemiBold';
  src: url('../src/fonts/PPMori-SemiBold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

/* header styles */

.header {
  font-family: 'PP Mori SemiBold', "IBM Plex Mono", sans-serif;
  font-size: 1rem;

  color: white;
  background-color: crimson;

  padding-top: 10px;
  padding-bottom: 20px;

  text-align: center;
}

.info {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  font-size: 1.2rem;
  font-style: normal !important;
  position: absolute !important;
  right: 5vmin;
  top: 5vmin;
  cursor: pointer;
}

.toggleView {
  font-family: "IBM Plex Sans";
  color: white;
  font-size: 1.2rem;
  font-style: normal !important;
  position: absolute !important;
  left: 5vmin;
  top: 5vmin;
  cursor: pointer;
}

.toggleViewChevron {
  font-family: "IBM Plex Mono";
  color: white;
  font-size: 1.2rem;
  font-style: normal !important;
  position: absolute !important;
  left: 5vmin;
  top: 5vmin;
  cursor: pointer;
}

.title {
  letter-spacing: 0.3rem;
  text-align: center;
}

.monName {
  letter-spacing: 0.3rem;
  text-align: center;
  margin-inline: 10vw;
}

.input {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;

  padding: 0.8rem;
  margin-bottom: 15px;

  border: none;
  border-radius: 10px;

  width: 250px;

  margin: 5px;

  text-indent: 3px;
}

.input:focus {
  outline: none;
}

.submit {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;

  color: white;
  background-color: rgb(100, 8, 8);

  padding: 0.8rem;

  border: none;
  border-radius: 10px;

  width: 100px;

  margin: 5px;

  cursor: pointer;
}

@media (hover: hover) {
  .submit:hover {
    background-color: rgb(63, 0, 0);
  }
  .infoShown:hover {
    background-color: rgb(215, 215, 215);
  }
  .navigation:hover {
    background-color: rgb(153, 14, 42);
  }
}

.navigation {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1rem;

  color: white;
  background-color: crimson;

  padding: 0.7rem;

  border: none;

  margin: 0;

  cursor: pointer;
}

.right {
  border-radius: 0 0 0 20px;
  margin: 0;
}

.left {
  border-radius: 0 0 20px 0;
  margin: 0;
}

.rightbottom {
  border-radius: 20px 0 0 0;
  margin: 0;
}

.leftbottom {
  border-radius: 0 20px 0 0;
  margin: 0;
}

/* allPokemon */

.allPokemonTiny {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.allPokemonSmall {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.allPokemonMobile {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.allPokemonTablet {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.allPokemonDesktop {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

.allInfo {
  font-family: "PP NeueBit", sans-serif;
  font-size: 1.5rem;
  text-align: center !important;
}

.allInfoHeader {
  text-align: center;
}

.infoShown {
  text-align: center !important;
  justify-self: center;
  align-items: center;
  font-family: "PP Mori Semibold", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.infoShown:active {
  background-color: rgb(238, 238, 238);
}

.pokemonCard {
  text-align: center;
  width: 100%;
}

.pokemonCard>h2 {
  font-family: "PP NeueBit", sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
}

.pokemonCard>h3 {
  font-family: "PP NeueBit", sans-serif;
  font-size: 1.3rem !important;
}

.pokemonCard>img {
  width: 25vmin;
  margin: 0;
  cursor: pointer;
}

.typesIcon>img {
  width: 25px;
}

/* pokeView */

.pokeview {
  font-family: "PP NeueBit", sans-serif;
  font-size: 1.2rem;
}

.nametype-column {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.id {
  margin: 0;
}

.monImg {
  width: 300px;
  margin-bottom: 40px;
}

.types {
  font-family: "IBM Plex Sans", sans-serif;

  margin-left: 5px;
  margin-right: 5px;

  padding-block: 10px;
  padding-inline: 15px;

  border-radius: 25px;
}

.typesSmall {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 8px;

  margin-left: 3px;
  margin-right: 3px;

  padding-block: 5px;
  padding-inline: 10px;

  border-radius: 100px;
}

.stats-column {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.stats {
  font-family: "IBM Plex Mono", serif;
  font-size: 0.7rem;
}

.stats>h1 {
  display: flex;
}

.abilities {
  margin-inline: 80px;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.abilities-name {
  font-size: 2rem;
}

.abilityDesc {
  font-family: "IBM Plex Mono";
  text-align: left !important;
}

.evolutions {
  font-family: "IBM Plex Mono";
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.evolutions>img {
  width: 150px;
}

.pokedexEntry {
  font-family: "IBM Plex Mono";
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-inline: 15vw;
}

.moves {
  font-family: "IBM Plex Mono";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  width: 90vmin;
}

.moves-spacer {
  margin-top: 70px;
}

.moves-info {
  font-size: 1.7rem;
  text-align: center;
}

.moves-header {
  font-family: "IBM Plex Sans";
  font-size: 1.2rem;
}

.moves-name {
  text-align: left;
  cursor: pointer;
}

.moves-type {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal !important;
  width: 90px;
}

tr>th {
  padding-block: 10px;
}

.funfacts {
  margin-bottom: 80px;
}

.funfacts>h2 {
  font-family: "IBM Plex Mono";
  font-size: 1.1rem;
  text-align: left;
  margin-inline: 15vw;
}

.funfacts-spacer {
  margin-top: 50px;
}

.funfacts-center {
  text-align: center !important;
}

.smogon-info {
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.smogon > h2 {
  text-align: center
}

/* footer */

.footer {
  font-family: "IBM Plex Mono", serif;
  font-style: italic;
  font-size: 0.9rem;
  color: lightslategray;
  text-align: center;
  margin-inline: 60px;
}

/* links */

a {
  color: crimson;
  text-decoration: none;
}

a:visited {
  color: crimson;
  text-decoration: none;
}

/* info modal */

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: white;
  color: black;
  padding: 14px 28px;
  border-radius: 3px;
  width: 70vmin;
  border: 2px solid white;
  box-shadow: 0 2px 0 2px black,
    inset 0 2px 0 2px black,
    0 0 0 2px black,
    inset 0 0 0 2px black;
}

.modal-content>h2 {
  text-align: left;
  font-size: 1.5rem;
  font-family: "IBM Plex Sans";
  font-style: normal;
}

.modal-content>p {
  font-family: "PP Mori SemiBold";
  text-align: left;
  font-size: 1.1rem;
  font-style: normal;
}

.close-modal {
  background-color: white;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
}